@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

.allDemos {
  height: 250px;
  position: relative;
  font-size: 18px;
}

.demo {
  position: relative;
  min-height: 250px;
  padding: 10px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #264057;
  color: #666666;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.iframe {
  width: 100%;
  border: 1px solid blue;
  position: relative;
  min-height: 250px;
  padding: 10px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  color: #666666;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}