.allDemos {
  height: 250px;
  position: relative;
  font-size: 18px;
}

.demoContainer {
  position: relative;
  height: 250px;
  overflow: auto;

  border: 1px solid #ddd;
  padding: 20px;
}

.spreadsheet {
}

/* Day four */
.demo {
  min-height: 250px;
  padding: 10px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #264057;
  color: #666666;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

