.demo {
  max-width: 800px;
  margin: 20px auto;
}
.eventContainer ul {
  margin: 0;
  padding: 0;
}
.eventContainer ul li.eventListing {
  list-style-type: none;
  font-size: 0.9em;
  position: relative;
  z-index: 2;
  padding: 20px 10px;
  box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.eventContainer ul li.eventListing .reset,
.eventContainer ul li.eventListing .name,
.eventContainer ul li.eventListing .trigger {
  position: absolute;
  top: 8px;
}
.eventContainer ul li.eventListing .reset {
  left: 5px;
}
.eventContainer ul li.eventListing .name {
  left: 35px;
}
.eventContainer ul li.eventListing .trigger {
  right: 15px;
}
.eventContainer ul li.eventListing .trigger i {
  color: rgba(95, 152, 205, 1);
}
