:global .notificationsFrame {
  z-index: 2;
  width: 100%;
  top: 20px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Open Sans', Helvetica, sans-serif;
  margin-bottom: 40px;
}

:global .notificationsFrame .searchInput {
  border: 10px solid red;
  box-sizing: border-box;
  position: absolute;
  top: 13px;
  right: 55px;
  width: 200px;
  height: 34px;
  border-radius: 17px;
  border: none;
  background: #fff;
  padding: 0 17px;
  font-size: 13px;
  color: #666;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  opacity: 0;
  pointer-events: none
}

:global .notificationsFrame .searchInput:focus {
  outline: none;
}

:global .notificationsFrame .searchInput.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}

:global .notificationsFrame .header {
  position: relative;
  height: 60px;
  background: #5F98CD;
}

:global .notificationsFrame .header .menuIcon {
  position: absolute;
  width: 29px;
  height: 15px;
  top: 23px;
  left: 20px;
  cursor: pointer;
}

:global .notificationsFrame .header .menuIcon .dashTop {
  position: absolute;
  width: 20px;
  height: 3px;
  top: 0;
  left: 0;
  background: #B2DAFF;
  border-radius: 3px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

:global .notificationsFrame .header .menuIcon .dashBottom {
  position: absolute;
  width: 20px;
  height: 3px;
  top: 0;
  left: 0;
  background: #B2DAFF;
  border-radius: 3px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 29px;
  top: auto;
  bottom: 0;
}

:global .notificationsFrame .header .menuIcon .circle {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 4px;
  top: -2px;
  right: 0;
  background: #B2DAFF;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

:global .notificationsFrame .header .menuIcon:hover .dashTop, :global .notificationsFrame .header .menuIcon:hover .dashBottom, :global .notificationsFrame .header .menuIcon:hover .circle {
  background: #fff;
}

:global .notificationsFrame .header .title {
  display: block;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}

:global .notificationsFrame .header .searchIcon {
  position: absolute;
  z-index: 3;
  font-size: 21px;
  color: #FFFFFF;
  top: 18px;
  right: 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer
}

:global .notificationsFrame .header .searchIcon:hover {
  color: #fff;
}

:global .notificationsFrame .content {
  position: relative;
  height: 100%;
  overflow: hidden;
}

:global .notificationsFrame .content .line {
  position: absolute;
  top: 0;
  left: 40px;
  bottom: 0;
  width: 3px;
  background: #EBEBEB;
}

:global .notificationsFrame .content .item {
  position: relative;
  z-index: 2;
  margin: 20px 30px 30px 70px;
  display: block;
}

:global .notificationsFrame .content .item .circle {
  box-sizing: border-box;
  position: absolute;
  height: 11px;
  width: 11px;
  background: #fff;
  border: 2px solid #5F98CD;
  box-shadow: 0 0 0 3px #fff;
  border-radius: 6px;
  top: 0;
  left: -20px;
}

:global .notificationsFrame .content .item .avatar {
  position: absolute;
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  left: -49px;
}

:global .notificationsFrame .content .item .avatar img {
  width: 100%;
  border-radius: 50%;
  position: relative;
}

:global .notificationsFrame .content .item .time {
  display: block;
  font-size: 11px;
  line-height: 11px;
  margin-bottom: 2px;
}

:global .notificationsFrame .content .item p {
  font-size: 15px;
  line-height: 20px;
  margin: 0px 40px 0px 0px;
  font-family: 'Open Sans', Lora, Times, no-serif;
}

:global .notificationsFrame .content .item p b {
  font-weight: 600;
}

:global .notificationsFrame .content .item .right {
  position: absolute;
  right: 5px;
  font-size: 11px;
  top: 11px;
}

:global .notificationsFrame .content .item .commentCount {
  position: absolute;
  right: 15px;
  font-size: 12px;
  top: 11px
  /*border-radius: 50%;
          border: 5px solid #ecf0f1;

          box-sizing: border-box;
          position: absolute;
          height: 20px;
          width: 20px;
          background: #fff;
          border: 2px solid #5F98CD;
          box-shadow: 0 0 0 3px #fff;*/
}

:global .notificationsFrame .content .item .commentCount:after {
  content: "\f075";
  font-family: FontAwesome;
  position: absolute;
  font-size: 20px;
  color: #EBEBEB;
  top: -50%;
  left: 100%;
  margin-left: 10px;
  z-index: 3;
}

:global .notificationsFrame .content .item .commentCount:hover:after {
  color: lightblue;
}

:global .notificationsFrame .content .item:hover {
  color: #5F98CD;
  cursor: pointer;
}

:global .notificationsFrame .footer {
  position: relative;
  background: #FFFFFF;
  margin: auto;
  height: 30px;
  border-top: 1px solid #eee;
  width: 100%;
  border-radius: 10px;
}

:global .notificationsFrame .footer button {
  background: #eee;
  position: absolute;
  width: 100%;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  border: 0;
}

:global .notificationsFrame .footer button i {
  margin: 0 10px;
}

:global .notificationsFrame.show-menu {
  -webkit-transform: translate3d(150px,0,0);
          transform: translate3d(150px,0,0);
}

.demo {
  margin: 20px 0;
}