@import "../components/Timeline/Timeline.css";
@import "../components/Timer/Clock.css";

.demo {
  margin: 20px 0;
}

.eventContainer {
  ul {
    margin: 0;
    padding: 0;

    li.eventListing {
      list-style-type: none;
      font-size: 0.9em;
      position: relative;
      z-index: 2;
      
      padding: 20px 10px;

      box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.3);

      .reset, .name, .trigger {
        position: absolute;
        top: 8px;
      }
      .reset {
        left: 5px;
      }

      .name {
        left: 35px;
      }

      .trigger {
        right: 15px;

        i {
          color: rgba(95, 152, 205, 1);
        }
      }

      .triggered {
      }
    }
  }
}